app.js
.env*
keepthis.txt
envTemplate
dotenv
node_modules
dotenv
.env_old
dotenv_old
envTemplate
gitcommands.txt
.vscode
laugh.js
visit.js
instructions.txt
emote1.png
emote2.png
emote_meter_v3.js
index.html
predpoll.js
purgeme.txt
spacer.png
styles.css