.env*
keepthis.txt
.envTemplate
dotenv
purgeme.txt
Instructions.txt
node_modules
dotenv
old_emote_meter_v1.js
old_emote_meter_v2.js
.env_old
dotenv_old
envTemplate
gitcommands.txt
Instructions.txt
purgeme.txt
purgeme.js
temp.js